*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(70, 17, 17);
    display: flex;
    flex-direction: column;
}

.header{
    height: 80px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar{
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    gap: 100px;
}

.title{
    font-size: xx-large;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.nav{
    display: flex;
    align-items: center;
    gap: 60px;
    cursor: pointer;
}

.Artists:hover{
    color: plum;
}

.thegallery:hover{
    color: plum;
}

.Exhibitions:hover{
    color: plum;
}

.Curated:hover{
    color: plum;
}

.Secondary:hover{
    color: plum;
}

.contact:hover{
    color: plum;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 30px;
}

.heading{
    font-family: monospace;
    font-weight: normal;
    font-size: 80px;
    color: beige;
}

.imagecont{
    font-family: sans-serif;
    color: beige;
    display: flex;
    gap: 250px;
    align-items: center;
    justify-content: center;
}

.image{
    width: 300px;
    height: 300px;
    background-image: url(01e7842ff2289b01c69f3d248edb33e6.jpg);
    background-size: cover;   
}

.imagetext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imageimage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


