*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.header{
    height: 80px;
    background-color: beige;
}

.navbar{
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}